USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 02/09/2019 1:25:12 CH ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV', FILENAME = N'C:\Chấm điểm\QLSV.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLSV_log', FILENAME = N'C:\Chấm điểm\QLSV_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
/****** Object:  Table [dbo].[LoaiSinhVien]    Script Date: 02/09/2019 1:25:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSinhVien](
	[TenLoaiSV] [nvarchar](50) NULL,
	[MaLoaiSV] [int] NOT NULL,
	[SoNamHoc] [int] NULL,
 CONSTRAINT [PK_LoaiSinhVien] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinSinhVien]    Script Date: 02/09/2019 1:25:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinSinhVien](
	[MaSV] [int] NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[TenLop] [nvarchar](50) NULL,
	[NganhHoc] [nvarchar](50) NULL,
	[KhoaHoc] [nvarchar](10) NULL,
	[MaLoaiSV] [int] NULL,
 CONSTRAINT [PK_ThongTinSinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LoaiSinhVien] ([TenLoaiSV], [MaLoaiSV], [SoNamHoc]) VALUES (N'Cao Đẳng', 2, 3)
INSERT [dbo].[LoaiSinhVien] ([TenLoaiSV], [MaLoaiSV], [SoNamHoc]) VALUES (N'Đại Học', 3, 4)
INSERT [dbo].[ThongTinSinhVien] ([MaSV], [HoTen], [NgaySinh], [TenLop], [NganhHoc], [KhoaHoc], [MaLoaiSV]) VALUES (11, N'Minh Đưc', CAST(N'2000-01-01' AS Date), N'a21', N'Thiết kế đồ họa', N'16', 2)
INSERT [dbo].[ThongTinSinhVien] ([MaSV], [HoTen], [NgaySinh], [TenLop], [NganhHoc], [KhoaHoc], [MaLoaiSV]) VALUES (111, N'Minh Đưc', CAST(N'2000-01-01' AS Date), N'a22', N'Marketing', N'16', 2)
INSERT [dbo].[ThongTinSinhVien] ([MaSV], [HoTen], [NgaySinh], [TenLop], [NganhHoc], [KhoaHoc], [MaLoaiSV]) VALUES (112, N'Minh Đưc', CAST(N'2000-01-01' AS Date), N'a21', N'Thiết kế đồ họa', N'16', 2)
ALTER TABLE [dbo].[ThongTinSinhVien]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinSinhVien_LoaiSinhVien] FOREIGN KEY([MaLoaiSV])
REFERENCES [dbo].[LoaiSinhVien] ([MaLoaiSV])
GO
ALTER TABLE [dbo].[ThongTinSinhVien] CHECK CONSTRAINT [FK_ThongTinSinhVien_LoaiSinhVien]
GO
USE [master]
GO
